body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: URL('./img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.HeadingHome > .col-md-12{ 
  margin: 0px !important;
  padding: 0px !important;
}
.HeadingHome > .col-md-12 > .navbar{
  background: none !important;
}
.HeadingHome ul li{
  padding:10px 20px;
  cursor: pointer;
  border-bottom:1px solid transparent;
  color: #013088;
}
.HeadingHome ul li span{
  font-weight: 600 !important;
}
.HeadingHome ul li:hover{
  border-bottom:1px solid #013088;
  color:#f66604 !important;
}
.WelcomePanel{
  margin: 0% auto !important;
  color:#1f51af;
  margin-top:8vh !important;
}
.WelcomePanel img{
  margin-bottom: 10%;
  width:20%;
  margin-left: -15vw;
  align-items: left;
}
.WelcomePanel h3{
  text-align: left;
  font-weight: bold;
  line-height: 1.7;
}
.WelcomePanel h3 span{
  color:#f66604
}
.report-style-class {
	height: 86vh;
	width: 100%;
}
.LoginColumn{
  margin: 0% auto !important;
  margin-top: 9vh !important;
}
.LoginLogo{
  width: 50%;
}
.LoginColumn h1{
  text-align: center;
  margin-top: 20vh;
  color: #fff;
  font-size:3.3em
}
.LoginColumn img{
  margin-bottom:10%;
}
.loginForm{
  background:rgba(255, 255, 255, 0.173);
  padding:40px 50px 30px 40px;
  border-radius: 5px;
  margin-top:3vh;  
  margin-bottom: 10px;
  box-shadow: 0px 5px 8px 0px #00000040;
}
#SubmitBtn{
  background:#f66604;
  border-color:#f66604;
}
#SubmitBtn:hover{
  background:#d05604;
  border-color:#d05604;
}
.loginForm h3{
  margin-bottom: 10px;
  color: #f9f9f9;
  text-align: center;
}
.loginForm p{
  margin-bottom:20px;
  color: #f9f9f9;
  text-align: center;
}

.row {
    margin-right:0px !important;
    margin-left:0px !important;
}
.footer{
  position: absolute;
  width: 100%;
  margin:0px;
  bottom: 0px !important;
  text-align: center !important;
  background:#2f2f2f;
  color:#f1f0f0;
  padding:15px 20px;
}
.passwordreset{
  cursor: pointer;
  color: rgba(255, 255, 255, 0.906);
}
.passwordreset:hover{
  color: rgb(130, 162, 216);
}
p.alert{
  margin-bottom: 0px !important;
}
.email_error{
  color: red;
  text-align: left !important;
}
.Loginatempt{
  color:#fff;
  cursor: pointer;
}
.LogoNav{
  width:90%; 
  margin-top: 5px; 
}
.SupportText a{
  color: #fff;
  font-weight:800;
}
.SupportText small{
  margin-top:-10px !important;
}
.topNavsSide{
  color:#f9f9f9;
}
.topNavsSide p{
  padding: 3px 0px;
  margin: 0px;
}
.topNavsSide{
  background:#0e3465 !important;
}
.navbar{
  padding:0px 20px !important;
  margin:0px 0px !important;
}
.leftNav{
  cursor: pointer !important;
  margin-right: 20px;
}

.leftNav li{
  margin: 0px 15px;
  padding:15px 0px;
  border-bottom: 2px solid transparent;
}
.leftNav li:hover, .activated{
  border-bottom:2px  solid #f66604 !important;
}

.navbar-dark .navbar-toggler-icon{
  color: #2f2f2f !important;
  
}
.navbar-dark .navbar-toggler{
  color: #2f2f2f !important;
}
button.navbar-toggler.collapsed > span.navbar-toggler-icon{
  color: #2f2f2f !important;
}
button.navbar-toggler span{
 color: #2f2f2f !important; 
}
.leftNav li span:hover{
  color:#0e3465 !important;
}
.navigations,.navigations .navbar{
  background:#f9f9f9 !important;
  color:#2f2f2f !important;
  box-shadow:0px 6px 11px 1px #cecece;
}
.navigations .navbar li, .navigations .navbar li span,.navbar-brand{
  color:#2f2f2f !important;
}

.navigations > .col-md-12{
  padding: 0px !important;
  margin: 0px !important;
}

.Icon1{
  width: 10%;
  padding: 0px !important;
  margin: 0px 5px 0px 0px !important;
}
.Icon2{
  padding: 0px !important;
  margin: 0px !important;
  width: 20%;
}

.dropdown{
  cursor: pointer;
}
.dropdown-menu ul li:hover{
  background: #f9f9f9 !important;
}
.Settingsdrop{
  margin:0px !important;
  padding: 5px 0px 5px 0px !important;
}
.Settingsdrop ul{
  margin:0px !important;
  padding:0px !important;
}
.Settingsdrop ul li{
  list-style-type:none;
  margin-left: 0;
  padding:10px 20px;
}

.Settingsdrop ul li button{
  list-style-type: none !important;
  text-decoration: none !important;
  color: #2f2f2f;;
}
.Settingsdrop ul li:hover{
  background: #2f2f2f;
  color: #fff;
}
@media screen and (min-width:769px) and (max-width:1024px){
  .LogoNav{
    width:100%; 
    margin-top: 10px; 
  }
}
@media screen and (max-width:769px){
  .SupportText{
    float: right;
  }
  .LogoNav{
    width:60%; 
    margin-top: 10px; 
  }
}